/* .scrolling-wrapper{
	overflow-x: auto;
} */

.body {
    display: flex;
}

.container {
    display: flex;
    /* flex-direction: row; */
    margin-left: 30px;
}

.card-block {
    width: 350px;
    height: 250px;
}

#nav {
    background-color: gray;
}