
nav {
    background-color: rgb(32, 32, 32);
}

.navbar-brand {
    padding-left: 80px;
}

.nav-link {
    color: #ffc107;
    padding-left: 0;
}

#navbarDropdown {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    padding-right: 2px;
}

.card p {
    color: black;
    font-family:Arial, Helvetica, sans-serif
}

ul.dropdown-menu.show {
    display: flex;
    flex-direction: column;

}

li {
    flex-direction: row;
}

button.btn.btn-outline-warning {
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.nav-link {
    color: #ffc107;
}