
/* .body {
    display: flex;
    background-image: url("../../img/paul-volkmer-_Apdet7E5yU-unsplash.jpg");
    /* background-image: url("paul-volkmer-_Apdet7E5yU-unsplash.jpg"); */
    /* background-repeat: repeat;
}    */ 


#nav {
    background-color: gray;
}

.navbar-brand {
    padding-left: 80px;
}
